html{
    margin: 0;
    padding: 0;
}
body{
    background: center / contain no-repeat url("../../ressources/img/bg_e6coif-desktop.svg") rgb(125, 45, 155);
}
header{
    background: center / contain no-repeat url("../../ressources/img/logo_e6coif.svg");
    height: 8rem;

}
.shadow{
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}
footer{
    display: flex;
    justify-content: right;
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 0.5rem;
    text-align: center;
}
footer div{
    font-size: 1rem;
    color: white;
    padding: 1rem;
}
footer i{
    padding: 0.7rem;
    border: 2px solid white;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
}
main{
    /*display: flex;*/
    /*align-items: center;*/
    width: 80%;
    margin: 0 auto;
}
.imgAffichage{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    /*padding: 1rem;*/
}
.contentPlacementLeft{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.contentPlacement div{
    display: flex;
    flex: 1;
}
.contentPlacementRight{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
img{
    filter: drop-shadow(0 0 0.10rem beige);
    border-radius: 10px;
    /*height: 25rem;*/

    max-width: 100%;
    height: auto;

}
.txtContent{
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}
.txtContent h1{
    text-shadow: 1px 1px 2px black;
    font-family: 'Poppins', sans-serif;
    color: beige;
}
.txtContent p{
    text-shadow: 1px 1px 2px black;
    font-family: 'Open Sans', sans-serif;
    color: beige;

}
form{
    color: beige;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}
form label{
    text-shadow: 1px 1px 2px black;

}
form input{
    border: none;
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}
form button{
    border: none;
    border-radius: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
}
form button:hover{
    background-color: rgba(255, 255, 255, 0.6);
}
/* [1] The container */
.img-hover-zoom {
    /*height: 300px; !* [1.1] Set it as per your need *!*/
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
    transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
    transform: scale(1.5);
}
/* Quick-zoom Container */
.img-hover-zoom--quick-zoom img {
    transform-origin: 0 0;
    transition: transform .25s, visibility .25s ease-in;
}

/* The Transformation */
.img-hover-zoom--quick-zoom:hover img {
    transform: scale(2);
}