html{
    margin: 0;
    padding: 0;
}
body{
    background: center / contain no-repeat fixed url("../../ressources/img/bg_e6coif-desktop.svg") rgb(125, 45, 155);
}
header{
    background: center / contain no-repeat url("../../ressources/img/logo_e6coif.svg");
    height: 8rem;

}
.shadow{
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}
footer{
    display: flex;
    justify-content: right;
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 0.5rem;
    text-align: center;
}
footer div{
    font-size: 1rem;
    color: white;
    padding: 1rem;
}
footer i{
    padding: 0.7rem;
    border: 2px solid white;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
}
main{
    /*display: flex;*/
    /*align-items: center;*/
    width: 80%;
    margin: 0 auto;
}
.imgAffichage{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-radius: 1rem;
    /*padding: 1rem;*/
}
.contentPlacementLeft{

    display: flex;
    flex-flow: row wrap;
}
.contentPlacement div{
    display: flex;
    flex: 1;
}
.contentPlacementRight{

    display: flex;
    flex-flow: row wrap;
}
.divGoogle{
    width: auto;
    border-radius: 1rem;
    border: #ad6ece 3px solid;
}
.divImg{
    border-radius: 1rem;
    border: #ad6ece 3px solid;
    min-width: 30rem;
}
.imgMain{
    border-radius: 1rem;

    width: 100%;
    height: auto;

}
.txtContent{
    border: #ad6ece 3px solid;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}
.title{
    align-items: center;
    display: flex;
    flex-flow: column wrap;
}
.infos{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

}
.infoMap{
    /*border: #ad6ece 3px solid;*/
    border-radius: 1rem;
    padding: 0.1rem;
    display: flex;
    flex-flow: row wrap;
}
.txtContent h1{
    text-shadow: 1px 1px 2px black;
    font-family: 'Poppins', sans-serif;
    color: beige;
    margin: 0;
}
.txtContent p{
    margin: 1rem 1rem 1rem 0;
    text-shadow: 1px 1px 2px black;
    font-family: 'Open Sans', sans-serif;
    color: beige;

}
form{
    min-width: 10rem;
    color: beige;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}
.formError{
    border-radius: 4px;
    border: red solid;
    /*width: 20rem;*/
}
form label{
    text-shadow: 1px 1px 2px black;

}
form input, select{
    border: none;
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}
form button{
    transition: transform .2s; /* Animation */
    border: none;
    border-radius: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
}
form button:hover{
    /*background-color: rgba(255, 255, 255, 0.6);*/
    transform: scale(1.2);
}
iframe{
    min-width: 15rem;
    width: 100%;
    border-radius: 1rem;
}
/*RESPONSIVE*/

@media only screen and (max-width: 770px) {
    .contentPlacementRight{
        flex-flow: column wrap;
        min-width: 23.688rem;
    }
    .contentPlacementLeft {
        flex-flow: column wrap;
    }
    .contentPlacement{

    }
    .divGoogle{
border: none    }
    .divImg{
        min-width: auto;
    }
    iframe{
        min-width: auto;
        width: auto;
    }
    form{
        width: 100%!important;
    }
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
